body {
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans" , "arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 10px 10px #dedede;
  background-color: #ffffff;
}

.main-navigation {
  text-align: center;
  position: relative;
}

.main-navigation a {
  color: #000000;
  text-decoration: none;
  padding: 15px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  display: inline-block;
  vertical-align: top;
  font-family: "PT Sans";
}

.main-navigation a:hover {
 color: #81b3d2; 
}

.logo {
  font-size: 0;
}

.main-navigation img {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  margin-left: -69px;
}

.main-navigation ul {
  display: table;
  table-layout: fixed;
  font-size: 0;
  width: 40%;  
}

.main-navigation li {
  display: table-cell;
}

.left-side {
  float: left;
}

.right-side {
  float: right;
}

.main-img {
  padding: 0;
  font-size: 0;
  width: 100%;
  background-color: #e1edf5;
  position: relative;
  border: none;
}

.background {
  width: 100%;
  overflow: hidden;
}

.img-text {
  position: absolute;
  left: 50%;
  top: 0;
  width: 458px;
  height: 352px;
  margin-bottom: 80px;
  margin-left: -229px;
  margin-top: 76px;
}

.mask {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.main-info {
  font-size: 21px;
  line-height: 26px;
  margin-top: 25px;
}

.main-info-reasons {
  font-size: 14px;
  line-height: 26px;
  margin: 33px 0;
  font-weight: 100;
}

.reason-one {
  width: 100%;
  height: 256px;
  text-align: center;
  margin: 50px 0;
}

.reason-one-general {
  width: 33%;
  height: 216px;
  float: left;
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  padding: 20px 0;
}

.reason-headline {
  display: block;
  padding: 25px 20px;
  margin: 0;
  font-size: 21px;
  line-height: 21px;
}

.reason-one-general p {
  display: block;
  font-size: 14px;
  line-height: 21px;
  padding: 5px 30px;
  padding-bottom: 20px;
  margin: 0;
  font-weight: 100;
}

.reason-one-img {
  width: 67%;
  height: 256px;
  float: right;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.reason-one-img img {
  width: 100%;
  height: 256px;
  overflow: hidden;
}

.features {
  min-width: 100%;
  height: 260px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 10px 0;
}

.reason-content {
  width: 33%;
  float: left;
}

.reason-content h3 {
  font-size: 21px;
  line-height: 21px;
}

.content-text {
  padding: 0 50px;
  font-weight: 100;
}

.reason-two-img {
  width: 67%;
  float: left;
  height: 256px;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.reason-two-general {
  width: 33%;
  height: 216px;
  float: right;
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  padding: 20px 0;
}

.reason-two-general p {
  display: block;
  font-size: 14px;
  line-height: 21px;
  padding: 5px 30px;
  padding-bottom: 20px;
  margin: 0;
  font-weight: 100;
}

.reasons {
  background-color: #eeeeee;
  height: 192px;
  padding: 35px 0;
}

.hotel-reserve {
  margin-top: 50px;
}

.interest {
  font-size: 30px;
  margin-bottom: 33px;
}

.text {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 49px;
  font-weight: 100;
}

.search-form {
  width: 568px;
  margin: 0 auto;
  text-align: center;
}

.form-btn {
  font-size: 21px;
  line-height: 26px;
  display: block;
  padding: 30px 0;
  text-decoration: none;
  color: #ffffff;
  background-color: #766357;
}

.form-hidden {
  padding-top: 55px;
  display: none;
}

.form-show {
  padding-top: 55px;
  display: block;
}

.dates {
  width: 100%;
  margin-top: 15px;
}

.adults {
  display: inline-block;
  margin-top: 30px;
}

.kids {
  display: inline-block;
  margin-bottom: 50px;
}

.btn {
  width: 458px;
  background-color: #81b3d2;
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  padding: 10px 0;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #669ec0;
}

.search-form-hotels {
  width: 100%;
  background: #6686ac url(../img/back_filter.jpg) no-repeat center;
  color: #ffffff;
  text-align: left;
  padding-top: 26px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.infrastructure {
  float: left;
  margin-left: 40px;
  padding-bottom: 30px;
}

.infrastructure label {
  display: inline-block;
  padding-left: 40px;
  font-size: 14px;
  font-weight: 100;
  margin-top: 23px;
  cursor: pointer;
}

.infrastructure input {
  position: relative;
}
  
.house-type {
  float: left;
  margin-left: 40px;
  padding-bottom: 30px;
}

.house-type label {
  display: inline-block;
  padding-left: 40px;
  font-size: 14px;
  font-weight: 100;
  margin-top: 23px;
  cursor: pointer;
}

.house-type input {
  display: none;
}

.cost {
  float: right;
  margin-right: 40px;
}

.form-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-control {
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
  position: relative;
}

.price-control::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price-control label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
  font-weight: 100;
}

.price-control .min-price,
.price-control .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-control input {
  width: 50px;
  margin: 0;
  margin-top: -1px;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-show {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  font-weight: 200;
}

.btn-show:hover {
  color: #000000;
  background: #ffffff;
}

.search-results {
  width: 100%;
}

.results-title {
  display: inline-block;
  padding: 38px 0;
  width: 100%;
  position: relative;
}

.results-title h2 {
  position: absolute;
  left: 72px;  
  margin: 0;
  margin-right: 52px;
}

.sort-type {
  position: absolute;
  left: 235px;
  top: 40px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 100;
}

.sort-type a {
  text-decoration: none;
  color: #d1d1d1;
  border-bottom: 1px dashed #81b3d2;
  cursor: pointer;
}

.ascending {
  text-decoration: none;
  font-size: 0;
  position: absolute;
  top: 40px;
  right: 105px;
  width: 10px;
  height: 11px;
  background: #ffffff url(../img/sprite.png) no-repeat center;
  background-position: -15px -54px;
  cursor: pointer;
}

.descending {
  text-decoration: none;
  font-size: 0;
  position: absolute;
  top: 40px;
  right: 82px;
  width: 10px;
  height: 11px;
  background: #ffffff url(../img/sprite.png) no-repeat center;
  background-position: -15px -54px;
  transform: rotate(180deg);
  cursor: pointer;
}

.sort-type a:hover {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;  
}

.results {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 30px 72px;
  position: relative;
}

.results-img {
  float: left;
  margin-right: 30px;
}

.results-info {
  float: left;
  text-align: left;
  vertical-align: top; 
  padding: 0;
}

.hotel-name {
  text-decoration: none;
  color: #000000;
  font-size: 21px;
  line-height: 26px;  
  cursor: pointer;
}

.hotel-name:hover {
  color: #a8c9df;
}

.results-info p {
  display: inline-block;
  margin: 8px 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 100;
  width: 110px;
}

.details-btn {
  display: inline-block;
  background-color: #81b3d2;
  width: 110px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  padding: 5px 0;
  text-transform: uppercase;
  cursor: pointer;
}

.details-btn a {
  text-decoration: none;
  color: #ffffff;
}

.details-btn:hover {
  background-color: #669ec0;  
}

.reserve-btn {
  display: inline-block;
  background-color: #766357;
  width: 142px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  padding: 5px 0;
  text-transform: uppercase;
  cursor: pointer;
}

.reserve-btn a {
  text-decoration: none;
  color: #ffffff;
}

.reserve-btn:hover {
  background-color: #604e43;
}

.star {
  position: absolute;
  top: 30px;
  right: 72px;
  width: 25px;
  font-size: 0;
  background: #ffffff url(../img/sprite.png) no-repeat center;
  background-position: -38px -185px;
}

.rating {  
  position: absolute;
  bottom: 30px;
  right: 72px;
  width: 110px;
  display: inline-block;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 21px;
  font-weight: 100;
  padding: 5px;
}

.main-footer {
  color: #000000;
  background-color: #ffffff;
  min-height: 120px;
  position: relative;
  z-index: 1;
  opacity: 0.9;
}

.footer-hashtag {
  width: 33%;
  float: left;
  margin-top: 50px;
}

.footer-hashtag a {
  color: #000000;
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
}

.footer-social {
  width: 33%;
  float: left; 
  text-align: center;
  margin-top: 36px;
  
}

.social-btn {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 0 3px;
  background: #81b3d2 url(../img/sprite.png) no-repeat center;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
}

.social-btn:hover {
  background-color: #669ec0;
}

.footer-copyright {
  width: 33%;
  float: right;
  display: inline-block;
  vertical-align: middle;
  margin-top: 35px;
}

.map {
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 593px;
  background: #e9e5dc url(../img/map.jpg) no-repeat center;
  display: none;
}

.social-btn-fb {
    background-position: -22px -108px;
}

.sprite-star {
    background-position: -20px -200px;
}

.social-btn-tube {
    background-position: -26px -240px;
}

.social-btn-twt {
    background-position: -25px -305px;
}
